<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/css/student/account_pg.css') }}" rel="stylesheet">
    <title>Account</title>
</head>
<body>
<div class="container">
    <div class="card">
        <h2>Статистика <i>{{ username }}</i></h2>
        <div class="line-procent" style="width: {{ percent }}%"></div>
        <div class="all-correct">
            <p>Всего правильных заданий: {{ all_is_correct }}</p>
        </div>
        <div class="stars">
            <div class="gold">
                <p>Количество золотых звезд: {{ count_gold }}</p>
            </div>
            <div class="silver">
                <p>Количетсво серебрянных звезд: {{ count_silver }}</p>
            </div>
            <div class="bronze">
                <p>Количество бронзовых звезд: {{ count_bronze }}</p>
            </div>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th scope="col">Тип задания</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Процент правильных</th>
                </tr>
                <tr>
                    <td>Арифметические операции</td>
                    <td>{{ arithmetic_operation.count_task }}</td>
                    <td>{{ percent_arith }}</td>
                </tr>

                <tr>
                    <td>Уравнения</td>
                    <td>{{ equations.count_task }}</td>
                    <td>{{ percent_equ }}%</td>
                </tr>
                <tr>
                    <td>Геометрия</td>
                    <td>{{ geometry.count_task }}</td>
                    <td>{{ percent_geometry }}%</td>
                </tr>
                <tr>
                    <td>Текстовые задачи</td>
                    <td>{{ text_tasks.count_task }}</td>
                    <td>{{ percent_text_task }}%</td>
                </tr>
                <tr>
                    <td>Задания повышенной сложности</td>
                    <td>{{ task_increased_complexity.count_task }}</td>
                    <td>{{ percent_task_increased }}%</td>
                </tr>
                <tr>
                    <td>Смешанные задачи</td>
                    <td>{{ mixed_tasks.count_task }}</td>
                    <td>{{ percent_mixed }}%</td>
                </tr>
            </table>
        </div>
        <a href="/home_user/{{ email }}/">Назад</a>
    </div>
</div>
</body>
</html>