<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="/css/home_user.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/student/home_user.css') }}">
    <title>Home</title>
</head>
<body>
<nav>
    <div class="logo">
        <a href="/home_user/{{ email }}/">Дроби</a>
    </div>
    <div class="but">
        <a class="but" href="/src>Выйти</a>
    </div>
    <div class="email">
        <a href="/home_user/account/{{ email }}/">{{ email }}</a>
    </div>
    <div class="exp"><p>{{ exp }}</p></div>
</nav>
<div class="container">
    <div class="card">
        <div class="content">
            <h2>Математика для начальных классов</h2>
            <a href="/count_selection/{{ email }}">Начать</a>
        </div>
    </div>
</div>
</body>
</html>