@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #161617;
}

.questions {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions table {
    width: 1200px;
    padding: 10px;
    background-color: #5a68a4;
    box-shadow: rgba(0, 0, 0, 0.25) 0 7px 15px 0;
    border-radius: 11px;
}

.questions table th {
    padding: 10px;
    color: #f0f0f0;
}

.questions table td {
    text-align: center;
    color: #1d1d1d;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 40px 0;
}

.back-but {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-but .but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.back-but .but a {
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #232325;
    border-radius: 10px;
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 600;
}

.back-but .but a:hover{
    color: #1d1d1d;
    background-color: #cdc554;
}