<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/class_selection.css">
    <title>Class Selection</title>
</head>
<body>
<div class="logo">
    <a href="/">Дроби</a>
</div>
<div class="container">
    <div class="card">
        <h2>Программа изучения дробей</h2><br>
        <form method="post">
            <label>
                <select name="class_id">
                    <option selected="selected">Выберите ваш текущий класс</option>
                    <option>1-й класс</option>
                    <option>2-й класс</option>
                    <option>3-й класс</option>
                    <option>4-й класс</option>
                </select>
            </label><br>
            <button type="submit">Выбрать</button>
        </form>

    </div>
</div>
</body>
</html>