<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/statistic_page.css') }}">
    <title>Statistic</title>
</head>
<body>
<div class="title">
    <a href="/">{{ task_type }}</a>
</div>
<div class="container">
    <h2>Отслеживание прогреса</h2>
    <div class="custom-item">
        <p>Процент правильных ответов: {{ percent }}%</p>
    </div>

    <div class="custom-item">
        <h4>Статистика:</h4>
        <p>Всего: {{ total_count }}</p>
    </div>
    <div class="custom-item">
        <p>Правильные ответы: {{ correct_count }}</p>
        <p>Среднее время {{ average_time }}</p>
    </div>
    <div class="custom-item">
        <h4>Достижения</h4>
        <img src="https://cdn.icon-icons.com/icons2/3768/PNG/512/star_favorite_icon_231631.png"
             style="width: 32px; height: 32px">
    </div>

    <div class="custom-item">
        <a href="/">Вернуться в меню</a>
    </div>

</div>
</body>
</html>