@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ADD8E6;
}

.head{
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.head a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #1E90FF;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.container .card{
    width: 400px;
    height: auto;
    padding: 40px 32px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.container .card h4{
    font-weight: 500;
    font-size: 18px;
}

.container .card .text-answer{
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 360px;
    max-height: 200px;
    margin-top: 25px;
}

.container .card .text-answer p{
    font-size: 16px;
    font-weight: 500;
}

.container .card .but{
    display: flex;
    width: 100%;
    margin-top: 45px;
}

.container .card .but a{
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #32CD32;
    border-radius: 10px;
}

.container .card .but a:hover{
    background-color: #276f55;
}