*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E6F9E6;
}

.logo{
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #1E90FF;
}

.count-item a{
    text-decoration: none;
}