@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ADD8E6;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    gap: 20px;
    background-color: #1E90FF;
}

nav .logo a{
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.container .card{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 450px;
    padding: 40px 32px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.container .card .title{
    padding: 15px;
}

.container .card .content h2{
    padding: 10px;
    font-size: 1.9rem;
}

.container .card .content a{
    display: flex;
    margin-top: 10px;
    height: 50px;
    width: 100px;
    background: #FFA500;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.15);
    transition: all 0.3s ease;
    justify-content: center;
}

.container .card .content a:hover{
    background-color: #1E90FF;
}

nav .but a{
    background-color: #9a53a4;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.15);
    transition: all 0.3s ease;
}

nav .but a:hover{
    background-color: #5a68a4;
}

.email{
    display: flex;
    width: 100%;
    justify-content: right;
}

.email a{
    padding: 5px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.email a:hover{
    color: #ADD8E6;
}