* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E6F9E6;
}

.title {
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.title a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #006400;
}

.container {
    margin: 100px auto;
    width: 440px;
    padding: 40px 32px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.container .custom-item {
    margin-top: 30px;
}

.container .custom-item a {
    background-color: #276f55;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.container .custom-item img {
    width: 32px;
    height: 32px;
}

.container .custom-item .line {
    display: flex;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}