<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/css/addstudent.css') }}" rel="stylesheet">
    <title>Add student</title>
</head>
<body>
<div class="container">
    <div class="form-add">
        <h2>Форма добавления ученика</h2>
        <form method="post">
            <div class="custom-input">
                <label>Имя</label>
                <input type="text" placeholder="name" name="name">
            </div>
            <div class="custom-input">
                <label>Email</label>
                <input type="email" placeholder="email" name="email">
            </div>
            <div class="custom-input">
                <label>Пароль</label>
                <input type="password" placeholder="password" name="password">
            </div>
            <div class="custom-input">
                <label>Класс ученика</label>
                <select name="class_select">
                    <option selected="selected">Выберите класс</option>
                    <option value="first">1-й класс</option>
                    <option value="second">2-й класс</option>
                    <option value="third">3-й класс</option>
                    <option value="four">4-й класс</option>
                </select>
            </div>
            <input type="hidden" value="example@gmail.com" name="email_teacher">
            <button type="submit" class="but-add">Добавить</button>
        </form>
    </div>
    <a href="/home_teacher/">Назад</a>
</div>
</body>
</html>