<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="/css/teacher/home_pg.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/teacher/home_pg.css') }}">
    <title>Home</title>
</head>
<body>
<nav>
    <div class="toolbar">
        <div class="left-tool">
            <div class="logotype">
                <div class="icon">
                    <img src="https://cdn1.iconfinder.com/data/icons/user-110/24/setting_account_admin_role_setup_system_settings_user_profile_people_options-256.png"
                         style="width: 32px; height: 32px;">
                </div>
                <div class="logo">
                    <a href="/home_teacher/{{ email_teacher }}">Админ панель</a>
                </div>
            </div>

            <div class="but">
                <a href="/addquestions/{{ email_teacher }}">Добавление вопросов</a>
            </div>
            <div class="questions">
                <a href="/home_teacher/viewquestions/{{ email_teacher }}">Просмотр таблицы вопросов</a>
            </div>
            <div class="questions-teach">
                <a href="/home_teacher/viewteachers/{{ email_teacher }}">Просмотр таблицы учителей</a>
            </div>
        </div>
        <div class="right-tool">
            <div class="user-email">
                <p>{{ email_teacher }}</p>
            </div>
            <div class="but-one">
                <a href="/">Выйти</a>
            </div>
        </div>

    </div>
</nav>


<div class="statistics">
    <div class="stats-card">
        <div class="card">
            <h2>Средняя успеваемость</h2>
            <div class="line-stats" style="width: {{ academic_percent }}%"></div>
        </div>
    </div>
    <div class="stats-card">
        <div class="card">
            <h2>Выполнение заданий</h2>
            <div class="line-stats" style="width: {{ completed_task }}%"></div>
        </div>
    </div>
    <div class="stats-card">
        <div class="card">
            <h2>Ср. кол. золотых звезд</h2>
            <div class="line-stats" style="width: {{ gold_stars }}%"></div>
        </div>
    </div>
</div>

<div class="crud-student">
    <div class="add">
        <a href="/home_teacher/{{ email_teacher }}/addstudent/">Добавить ученика</a>
    </div>
    <div class="del">
        <a href="/home_teacher/{{ email_teacher }}/deletestudent/">Удалить ученика</a>
    </div>
</div>

<div class="title-table">
    <h1>Ученики</h1>
</div>

<div class="students">

    <table>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Email</th>
            <th scope="col">Класс</th>
            <th scope="col">Статистика</th>
        </tr>
        {% for el in data %}
        <tr>
            <td>{{ el.name }}</td>
            <td>{{ el.email }}</td>
            <td>{{ el.class_student }}</td>
            <td>{{ el.percent }}%</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>