<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="/css/teacher/home_pg.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/teacher/home_pg.css') }}">
    <title>Home</title>
</head>
<body>
<nav>
    <div class="logo">
        <a href="/home_teacher/{{ email_teacher }}">Админ панель</a>
    </div>
    <div class="but">
        <a class="but" href="/addquestions/{{ email_teacher }}">Добавление вопросов</a>
    </div>
    <div class="but-one">
        <a class="but" href="/">Выйти</a>
    </div>
    <div class="user-email">
        <p>{{ email_teacher }}</p>
    </div>
</nav>


<div class="statistics">
    <div class="stats-card">
        <h2>Средняя успеваемость</h2>
        <div class="line-stats"></div>
    </div>
    <div class="stats-card">
        <h2>Выполнение заданий</h2>
        <div class="line-stats"></div>
    </div>
    <div class="stats-card">
        <h2>Ср. кол. золотых звезд</h2>
        <div class="line-stats"></div>
    </div>
</div>

<div class="crud-student">
    <div class="add">
        <a href="/home_teacher/{{ email_teacher }}/addstudent/">Добавить ученика</a>
    </div>
    <div class="del">
            <a href="/home_teacher/{{ email_teacher }}/deletestudent/">Удалить ученика</a>
    </div>
</div>

<div class="title-table">
    <h1>Ученики</h1>
</div>

<div class="students">

    <table>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Email</th>
            <th scope="col">Класс</th>
            <th scope="col">Статистика</th>
        </tr>
        {% for el in data %}
        <tr>
            <td>{{ el.name }}</td>
            <td>{{ el.email }}</td>
            <td>{{ el.class_student }}</td>
            <td>{{ el.percent }}%</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>