*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E6F9E6;
}

.logo{
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #1E90FF;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.container .card{
    width: 400px;
    height: 300px;
    padding: 40px 32px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.card h2{
    padding: 10px;
    font-size: 1.9rem;
    color: #006400;
}

.card label select{
    outline: none;
    padding: 5px;
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.card button{
    width: 100%;
    height: 45px;
    margin-top: 30px;
    background: #FF6347;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.15);
    transition: all 0.3s ease;
}

.card button:hover{
    background-color: #006400;
}