<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/css/arithmetic.css') }}" rel="stylesheet">
    <title>Arithmetic</title>
</head>
<body>
<div class="logo">
    <a href="/">Задание: {{arithmetic_operations}}</a>
</div>
<div class="container">
    <div class="card">
        <div class="title">
            <h3>{{ task }}</h3>
        </div>
        <div class="area">
        <form method="post">
                <label>
                    <textarea rows="3" placeholder="Ваш ответ" name="answer"></textarea>
                </label>
                <button class="but-send" type="submit">Отправить</button>
        </form>
    </div>
    </div>
</div>
</body>
</html>